body
  #bubbles.container
  footer.footer
    .container
      .input-group
        input#user-input.form-control(type="text" placeholder="Write here...")
        span.input-group-btn
          button#user-input-btn.btn.btn-secondary(type="button")
            span.fa.fa-send
