body
  nav.navbar-fixed-top.navbar-light.bg-faded
    .container
      img.navbar-brand.img-circle(src="/favicon.png")
      h4 Watson
      
  #bubbles.container
  nav.navbar.navbar-fixed-bottom.navbar-light.bg-faded
    .container
      .input-group
        input#user-input.form-control(type="text" placeholder="Write here...")
        span.input-group-btn
          button#user-input-btn.btn.btn-secondary(type="button")
            span.fa.fa-send
